.archive-months a {
    color: #246A81;
    background-color: white;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 5px;
}
.archive-months a:hover {
    color: white;
    background-color: #246A81;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 10px;
}
.archive-months a:focus {
    color: white;
    background-color: #246A81;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 10px;
}
.archive-months .active {
    color: white;
    background-color: #246A81;
}

.archive-years a {
    color: #246A81;
    background-color: white;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.archive-years a:hover {
    color: white;
    background-color: #246A81;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.archive-years a:focus {
    color: white;
    background-color: #246A81;
    border: 10px solid #246A81;
    border-radius: 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 75px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.archive-years .active {
    color: white;
    background-color: #246A81;
}